form(action="").filter-container
    div.filter
        div.filter__column
            div.h2 Filter's slider 
            div.filter__price
                input.price-min(type="number" placeholder="От")
                img(src="../svg/filtres/line.svg", alt="")
                input.price-max(type="number" placeholder="До")
            div.filter__slider
                div.slider
            div.h3 CheckBoxes
            div.filter__checkboxes
                div.checkbox
                    label 
                        input(type="checkbox")
                        span.checked
                        span Позиция 
                div.checkbox
                    label 
                        input(type="checkbox")
                        span.checked
                        span Позиция 
                div.checkbox
                    label 
                        input(type="checkbox")
                        span.checked
                        span Позиция 
                div.checkbox
                    label 
                        input(type="checkbox")
                        span.checked
                        span Позиция 
        div.filter__column
            div.h2 Filter's slider 2
            div.filter__price
                input.price-min(type="number" placeholder="От")
                img(src="../svg/filtres/line.svg", alt="")
                input.price-max(type="number" placeholder="До")
            div.filter__slider
                div.slider
            div.h3 RadioBTN
            div.filter__radios
                div.radio
                    label 
                    #{filter_option}
                        input(type="radio", name=filter_option, value="radio-1", checked)
                        span.checked
                        span Позиция
                div.radio
                    label 
                        input(type="radio", name=filter_option, value="radio-2")
                        span.checked
                        span Позиция              
                div.radio
                    label 
                        input(type="radio", name=filter_option, value="radio-3")
                        span.checked
                        span Позиция                 
                div.radio
                    label 
                        input(type="radio", name=filter_option, value="radio-4")
                        span.checked
                        span Позиция
    div.filter__actions
        button.btn.prime.apply-filter(type="button") Применить
        button.link.reset-filter(type="button") Сбросить фильтры